.collection {
  background-color: black;
}

.collection-group {
  display: flex;
}

.collection-img {
  max-width: 42%;
}

.collection-desc {
  color: white;
  margin: 4% auto;
  text-align: center;
}

.collection-subdesc {
  font-size: 14px;
  color: #d0d0d0;
  line-height: 2;
  padding-top: 25px;
}

.collection-btn {
  font-size: 20px;
  border: 1px solid;
  padding: 11px 10px;
  margin: 0 auto;
  margin-top: 47px;
  text-transform: uppercase;
  color: #d0d0d0;
}
