.border-our-brands {
  border-bottom: 1px solid white;
  max-width: 8%;
  margin: 0 auto;
  padding-bottom: 44px;
}
.our-brands {
  background-color: #0f0f0f;
  padding-top: 65px;
  text-align: center;
  padding-bottom: 76px
}

.container-our-brands {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 50px;
}

.our-brands-group {
  display: flex;
  justify-content: space-between;
}
